<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated rcpl_cdo -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.rcpl.model_2_0_0.rcpl.presentation.RcplModelWizardID"
            name="%_UI_RcplModelWizard_label"
            class="org.eclipse.rcpl.model_2_0_0.rcpl.presentation.RcplModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RcplModelFile.gif">
         <description>%_UI_RcplModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated rcpl_cdo -->
      <editor
            id="org.eclipse.rcpl.model_2_0_0.rcpl.presentation.RcplEditorID"
            name="%_UI_RcplEditor_label"
            icon="icons/full/obj16/RcplModelFile.gif"
            extensions="rcpl"
            class="org.eclipse.rcpl.model_2_0_0.rcpl.presentation.RcplEditor"
            contributorClass="org.eclipse.rcpl.model_2_0_0.rcpl.presentation.RcplActionBarContributor">
      </editor>
   </extension>

</plugin>
